langchain
langchain-classic
langchain-google-genai
langchain_community
langchain-text-splitters
fastapi
uvicorn[standard]
python-multipart
chromadb
python-docx
google-generativeai
docx2txt
nbformat
tqdm
python-dotenv
pytest
httpx
